// them colors
$primary: #4F7374 !default;
$secondary: #E4A299 !default;
$tertiary: #4184CC !default;

// color palette
$colors: (
    "primary": $primary,
    "secondary": $secondary,
    "tertiary": $tertiary,
    "blue": #0000FF,
    "red": #FF0000,
    "yellow": #FFFF00,
    "green": #00FF00,
    "orange": #FF7700,
    "purple": #8000FF,
    "gray": #9E9E9E,
    "black": black,
    "white": white,
);

// @debug map-get($colors, "secondary");
// @debug map-has-key($colors, "tertiary");
// @debug map-remove($colors, "info");
// @debug map-merge($colors, ("pink": #ffc0cb));

//  spacing
$base-padding: 0.75rem !default;
$base-margin: 0.75rem !default;

// borders
$base-border-thickness: 1px !default;
$base-border-radius: 20px !default;

// box-shadow
$base-box-shadow: 1px 3px 5px rgba(0,0,0,0.1) !default;

// font sizes
$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75 !default;
$font-size-lg: $base-font-size * 1.5 !default;
$font-size-xl: $base-font-size * 2 !default;
$font-size-xxl: $base-font-size * 3 !default;
